<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<html lang="en">
<head th:replace="fragments :: head"></head>

<body>
    <form action="/user" method="POST">
        <label>Username: <input type="text" name="username" th:value="${username}" required/></label>
        <label>Email: <input type="email" name="email" th:value="${email}" /></label>
        <label>Password: <input type="password" name="password" required /></label>
        <label>Verify Password: <input type="password" name="verify" /></label>
        <p class="error" th:if="${error}" th:text="${error}"></p>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>